<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>easeyourfeet</display-name>
  <servlet>
    <servlet-name>Uservlet</servlet-name>
    <servlet-class>servlets.Uservlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>Uservlet</servlet-name>
  	<url-pattern>/Uservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mservlet</servlet-name>
    <servlet-class>servlets.Mservlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>Mservlet</servlet-name>
  	<url-pattern>/Mservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Oservlet</servlet-name>
    <servlet-class>servlets.Oservlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>Oservlet</servlet-name>
  	<url-pattern>/Oservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ofindallservlet</servlet-name>
    <servlet-class>servlets.Ofindallservlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>Ofindallservlet</servlet-name>
  	<url-pattern>/Ofindallservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ofindoneservlet</servlet-name>
    <servlet-class>servlets.Ofindoneservlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>Ofindoneservlet</servlet-name>
  	<url-pattern>/Ofindoneservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Oremoveservlet</servlet-name>
    <servlet-class>servlets.Oremoveservlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>Oremoveservlet</servlet-name>
  	<url-pattern>/Oremoveservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lookallservlet</servlet-name>
    <servlet-class>servlets.Lookallservlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>Lookallservlet</servlet-name>
  	<url-pattern>/Lookallservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lookoneservlet</servlet-name>
    <servlet-class>servlets.Lookoneservlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>Lookoneservlet</servlet-name>
  	<url-pattern>/Lookoneservlet</url-pattern>
  </servlet-mapping>
</web-app>
